<navbar></navbar>
<nav class="subnav">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>{{navHeader}} <a class="circle-button"ng-click="clothesCtrl.openCreate()"><img src="/img/add.svg"></a></h2>
      </div>
    </div>
  </div>
</nav>
<section class="clothes">

  <div class="container">
    <div class="row">
      <p ng-show="clothesCtrl.clothes">
        Yo, you need some clothes...
      </p>
      <!-- Begin closet listing -->
      <div class="col-md-3" ng-repeat="closet in clothesCtrl.clothes">

        <div class="closet">
          <div class="closet-stripe">

          </div>
          <div class="closet-header">
            <h3 style="text-decoration:underline"><a ui-sref="closet-explore({closetId:closet.$id})">{{closet.name}}</a></h3>
            <p>4 pieces {{closet.$id}}</p>
          </div>
          <div class="closet-content row">
            <div class="closet-preview-image col-md-6">
              <img style="height:150px" src="http://www.customink.com/assets/site_content/products/530x542/unisex/orange-cb68a219e2b35bad123a229afac8c110.jpg">
            </div>
            <div class="col-md-2">
              <ul class="closet-colors">
                <li>
                  <div></div>
                </li>
                <li>
                  <div> </div>
                </li>
              </ul>
            </div>

          </div>

          <div class="closet-footer">
            <ul>
              <a ng-click="closetCtrl.addFavorite(closet)">
                <li><img ng-hide="closet.favorite" src="img/heart.svg" /><img ng-show="closet.favorite" src="img/heartfilled.svg" /></li>
              </a>
              <a>
                <li><img src="img/addclothes.svg" /></li>
              </a>
              <a>
                <li><img src="img/editcloset.svg" /></li>
              </a>
              <a ng-click="closetCtrl.deleteCloset(closet)">
                <li><img src="img/delete.svg" /></li>
              </a>
            </ul>
          </div>
        </div>
      </div>
      <!-- end closet listing -->
    </div>
  </div>

</section>
