<navbar></navbar>
<nav class="subnav">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2><a ui-sref="closets">Closets </a> > {{navHeader}} <a class="circle-button"slide-toggle="#clothing-adder"><img src="/img/hanger.svg"></a></h2>
      </div>
    </div>
  </div>
</nav>
<div class="add-clothing slideable" duration=".3s" id="clothing-adder" ng-init="addClothesTab =1">
  <div class="add-clothing-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <a ng-class="{active:addClothesTab==1}"ng-click="addClothesTab=1"><li>Input clothes</li></a>
          <a ng-class="{active:addClothesTab==2}"ng-click="addClothesTab =2"><li>Add by Picture</li></a>
        </ul>
      </div>
    </div>
    <div class="row">
                <form class="form-group" name="clothesForm" ng-show="addClothesTab ==1" ng-submit="clothesCtrl.addClothes('clothesForm.$valid')" no-validate>
        <div class="col-md-4">
          <h3>Add an Article of Clothing</h3>

            <input class=""type="text" name="clothes-name" placeholder="CLOTHING NAME" ng-model="clothesCtrl.clothingPiece.name" ng-minlength="3" ng-maxlength="24" no-validate required>

            <select class="" name="colors" ng-options="type.name for type in clothesCtrl.types" ng-model="clothesCtrl.clothingPiece.type" required>
              <option value=""selected disabled>TYPE</option>
            </select>

            <input no-validate required class="" type="text" colorpicker="hex" ng-model="clothesCtrl.clothingPiece.colors" colorpicker-close-on-select>
            <!-- <select class="" name="colors" ng-options="color.name for color in clothesCtrl.colors" ng-model="clothesCtrl.clothingPiece.colors">
              <option value=""selected disabled>COLOR</option>
            </select> -->

            <!-- <input class=""type="text" name="tags" placeholder="TAGS" ng-model="clothesCtrl.clothingPiece.tags" ng-minlength="3" ng-maxlength="24" ng-required novalidate> -->


            <button type="submit"class="" ng-disabled="clothesForm.$invalid">Add Clothing</button>

        </div>
        <div class="col-md-1">
          <img ng-src="{{clothesCtrl.clothingPiece.type.img}}" />
        </div>
        </form>
        <form class="" action="index.html" method="post">
          <div class="col-md-6" ng-show="addClothesTab == 2">
            <h3>Add Clothing By Picture</h3>
          </div>
        </form>
    </div>
  </div>

  </div>
</div>
<section>

  <div class="container">
    <div class="row">
      <!-- Begin closet listing -->
      <div class="col-md-3" ng-repeat="clothes in clothesCtrl.clothes | filter: {closet: currentClosetId} ">

        <div class="clothes">
          <div class="clothes-header">
            <h3 style="text-decoration:underline"><a>{{clothes.name}}</a></h3>
          </div>
          <div class="clothes-content row">
            <div class="clothes-preview-image col-md-6">
              <img style="height:150px" ng-src="{{clothes.picture}}">
            </div>
            <div class="col-md-2">
              <ul class="clothes-colors">
                <li>
                  <div style="background-color:{{clothes.colors}}"></div>
                </li>
              </ul>
            </div>

          </div>

          <div class="clothes-footer">
            <ul>
              <a ng-click="clothesCtrl.addFavorite(clothes)">
                <li><img ng-hide="closet.favorite" src="img/heart.svg" /><img ng-show="closet.favorite" src="img/heartfilled.svg" /></li>
              </a>
              <a>
                <li><img src="img/addclothes.svg" /></li>
              </a>
              <a>
                <li><img src="img/editcloset.svg" /></li>
              </a>
              <a ng-click="clothesCtrl.deleteClothes(clothes)">
                <li><img src="img/delete.svg" /></li>
              </a>
            </ul>
          </div>
        </div>
      </div>
      <!-- end closet listing -->
    </div>
  </div>

</section>
