
<nav class="subnav">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{navHeader}} <a class="circle-button"ng-click="closetCtrl.openCreate()"><img src="/img/add.svg"></a></h2>
      </div>
    </div>
  </div>
</nav>
<section class="closets" >

  <div class="container">
    <div class="row">

      <!-- Begin closet listing -->
      <div class="col-md-3" ng-repeat="closet in closetCtrl.closets" ng-init='clothesInsideCloset = closetCtrl.clothesInsideCloset(closet.$id)'>
        <div class="closet-wrapper">
          <div class="closet-bar" ng-class="{empty: clothesInsideCloset[3] == 0,occupied: clothesInsideCloset[3]>0}" style="background: linear-gradient(to right, {{clothesInsideCloset[1]}} 0%,{{clothesInsideCloset[2]}} 100%); margin-bottom:10px;">
            <p>{{clothesInsideCloset[0]}}</p>
          </div>

          <div class="closet">


            <div class="closet-header">
              <h3><a ui-sref="closet-explore({closetId:closet.$id})">{{closet.name}}</a></h3>

            </div>
            <div class="closet-content row">
              <div class="closet-preview-image col-md-12">
                <div class="row">
                  <div class="col-xs-3"ng-repeat="clothing in clothesInsideCloset[4]">
                    <img class="img-responsive"ng-src="{{clothing.picture}}">
                  </div>
                </div>
                <img ng-hide="clothesInsideCloset[3]"style="height:150px" src="img/lozonehead.svg">
              </div>
              <div class="col-md-2">
                <ul class="closet-colors">
                  <li>
                    <div></div>
                  </li>
                </ul>
              </div>

            </div>

            <div class="closet-footer">
              <ul>
                <a ng-click="closetCtrl.addFavorite(closet)">
                  <li><img ng-hide="closet.favorite" src="img/heart.svg" /><img ng-show="closet.favorite" src="img/heartfilled.svg" /></li>
                </a>
                <a>
                  <li><img src="img/addclothes.svg" /></li>
                </a>
                <a>
                  <li><img src="img/editcloset.svg" /></li>
                </a>
                <a ng-click="closetCtrl.deleteCloset(closet,clothesInsideCloset[3],closet.$id)">
                  <li><img src="img/delete.svg" /></li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end closet listing -->
    </div>
  </div>

</section>
