<navbar></navbar>
<nav class="subnav">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>{{navHeader}} <a class="circle-button"ng-click="closetCtrl.openCreate()"><img src="/img/add.svg"></a></h2>
      </div>
    </div>
  </div>
</nav>
<section class="closets">

  <div class="container">
    <div class="row">
      <!-- Begin closet listing -->
      <div class="col-md-3" ng-repeat="closet in closetCtrl.closets" ng-init='clothesInsideCloset = closetCtrl.clothesInsideCloset(closet.$id)'>
        <div class="closet-wrapper">
          <div style="width: 100%;position: absolute;height:25px;background: linear-gradient(to right, {{clothesInsideCloset[1]}} 0%,{{clothesInsideCloset[2]}} 100%); margin-bottom:10px;"></div>

        <div class="closet">


          <div class="closet-header">
            <h3 style="text-decoration:underline"><a ui-sref="closet-explore({closetId:closet.$id})">{{closet.name}}</a></h3>
            <p>{{clothesInsideCloset[0]}}</p>
          </div>
          <div class="closet-content row">
            <div class="closet-preview-image col-md-6">
              <img style="height:150px" src="img/lozonehead.svg">
            </div>
            <div class="col-md-2">
              <ul class="closet-colors">
                <li>
                  <div></div>
                </li>
              </ul>
            </div>

          </div>

          <div class="closet-footer">
            <ul>
              <a ng-click="closetCtrl.addFavorite(closet)">
                <li><img ng-hide="closet.favorite" src="img/heart.svg" /><img ng-show="closet.favorite" src="img/heartfilled.svg" /></li>
              </a>
              <a>
                <li><img src="img/addclothes.svg" /></li>
              </a>
              <a>
                <li><img src="img/editcloset.svg" /></li>
              </a>
              <a ng-click="closetCtrl.deleteCloset(closet,clothesInsideCloset[3])">
                <li><img src="img/delete.svg" /></li>
              </a>
            </ul>
          </div>
        </div>
      </div>
      </div>
      <!-- end closet listing -->
    </div>
  </div>

</section>
