<section class="login-section">
  <div class="dynamic-background-wrapper">
    <div class="dynamic-background">
      <ul id="bg">

      </ul>
    </div>
  </div>



  <div class="container">
    <div class="row">
      <div class="column-md-6">

        <div class="login-header">
        </div>
        <div class="login-panel animated fadeIn">

            <h1 class="lozone-title">LOZONE</h1>

          <form class="form-group" ng-submit="authCtrl.login()">
            <img class="img-responsive logo-img" src="img/logo.svg" />
            <div class="">
              <input type="email" class="form-control" placeholder="EMAIL" ng-model="authCtrl.user.email" ng-required="true" ng-minlength="10">
            </div>
            <div class="">
              <input type="password" class="form-control" placeholder="PASSWORD" ng-model="authCtrl.user.password" ng-required="true" ng-minlength="8">
            </div>
            <button type="submit" class="submit-button">LOG IN</button>
            <div class="error" ng-show="authCtrl.error">
              <span>{{authCtrl.error.message}}</span>
            </div>
          </form>
          <a ui-sref="register">Register</a>

        </div>

      </div>
    </div>

  </div>
</section>
<script type="text/javascript">
    window.onload = (function(){
      var doorCounter=0, li,doorNumber = 54,div,
                dynamicBackground = document.getElementById('bg');
      function doorPlacer() {
          div = document.createElement('div');
          li = document.createElement('li');
          div.setAttribute('class'," closet-fade-in-up ");
          li.appendChild(div);
          dynamicBackground.appendChild(li);
          doorCounter++;
          if(doorCounter >= doorNumber){
            clearInterval(interval);
          }
      }


      var interval = setInterval(doorPlacer,30);
    })()

</script>
