<div class="clothes-wrapper">
  <div class="clothes-color-stripe" style="background-color:{{clothes.colors}}"></div>

<div class="clothes" draggable ng-init="getClosetName = metaClosetCtrl.getClosetName(clothes.closet, clothes)">
  <div style="position:absolute;right:10px;top:5px">
  <img ng-hide="clothes.closet" src="img/emptycloset.svg" /><img ng-show="clothes.closet" src="img/closet.svg" />
  </div>

  <div class="clothes-header row">
    <div class="col-xs-12">
      <span class="title"><a ui-sref="clothes-info({clothesId:clothes.$id})">{{clothes.type.name}}</a></span>
      <div style="text-align:right">

      </div>

    </div>
    <div class="col-xs-12">

      <span class="closet-status">{{getClosetName}}</span>
    </div>
  </div>
  <div class="clothes-content row">
    <div class="clothes-preview-image col-xs-12">
      <img ng-src="{{clothes.picture}}">
    </div>
  </div>

  <div class="clothes-footer">
    <ul>
      <a ng-click="metaClosetCtrl.addFavorite(clothes)">
        <li><img ng-hide="clothes.favorite" src="img/heart.svg" /><img ng-show="clothes.favorite" src="img/heartfilled.svg" /></li>
      </a>
      <a>
        <li><img src="img/addclothes.svg" /></li>
      </a>
      <a>
        <li><img src="img/editcloset.svg" /></li>
      </a>
      <a ng-click="metaClosetCtrl.deleteClothes(clothes)">
        <li><img src="img/delete.svg" /></li>
      </a>
    </ul>
  </div>
</div>
</div>
