<nav class="main-nav" ng-controller="navController as navCtrl">
  <div class="container">
    <div class="row">
        <div class="col-md-8">
          <ul>
            <li><a ui-sref="lz"><img class="nav-logo"src="img/logo.svg"></a></li>
            <li>              <span ng-mouseover="status.isopen = true" is-open="status.isopen"class="closet-dropdown" uib-dropdown on-toggle="toggled(open)">
                            <a ui-sref="closets" ui-sref-active="selected" id="closet-dropdown" uib-dropdown-toggle>
                              Closets
                            </a>
                            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="closet-dropdown">
                              <li ng-repeat="closet in profileCtrl.closets">
                                <a ui-sref="closet-explore({closetId:closet.$id})">{{closet.name}}</a>
                              </li>
                            </ul>
                          </span>

          </li>

            <li><a ui-sref="metacloset" ui-sref-active="selected">MetaCloset</a></li>
            <li><a ui-sref="wishlist" ui-sref-active="selected">Wishlist</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-md-offset-2 ">
          <div class="nav-username">
              <a ui-sref="lz"><img ng-src="{{getGravatar(profile.$id)}}" alt="" />
              {{profile.displayName}}</a>
          </div>
  <a href="#" ng-click="navCtrl.logout()">LOGOUT</a>
        </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <div class="nav-breadcrumb">
            <h1>{{navHeader}}</h1>
        </div>
      </div>
    </div> -->
  </div>
</nav>
